/*page alignment*/
body {
    width: 700px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  /*containers*/
  .container{
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 5px;
    background-color: var(--secbg);
    border: 1.5px solid var(--accent1);
  }
  /*small container*/
.scontainer{
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 5px;
    margin-top: 270px;
    background-color: var(--secbg);
    border: 1.5px solid var(--accent1);
}

/*large container*/
.lcontainer{
  text-align: center;
  padding: 10px;
  margin: 5px;
  margin-top: 150px;
  background-color: var(--secbg);
  border: 1.5px solid var(--accent1);
}

/*design stuff*/
#lilyotv1{
  position: absolute;
  z-index: 1;
  bottom: -50px;
  right: -50px;
}

#lilyotv2{
  position: absolute;
  z-index: 1;
  bottom: -50px;
  left: -50px;
  transform: scaleX(-1);
}

/*files.html*/
.entry{
  background-color: var(--mainbg);
  padding-top: 10px;
  padding-bottom: 10px;
  margin : 5px;
}

/*secupload.html*/
.key{
  height: 50px;
  overflow: hidden;
}