/*page alignment*/
body {
    width: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  /*containers*/
  /*small container*/
.scontainer{
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 5px;
    margin-top: 270px;
    background-color: var(--secbg);
    border: 1.5px solid var(--accent1);
}

/*large container*/
.lcontainer{
  text-align: center;
  padding: 10px;
  margin: 5px;
  margin-top: 150px;
  background-color: var(--secbg);
  border: 1.5px solid var(--accent1);
}

/*design stuff*/
#flower{
  position: absolute;
  z-index: 1;
  bottom: -3px;
  left: -70px;
}

/*files.html*/
.entry{
  background-color: var(--mainbg);
}