/*page alignment*/
body {
    width: 900px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

/* grid setup */
.grid-container {
    display: grid;
    grid-template-areas:
      "head head head head"
      "nav nav nav nav"
      "m1 m1 m2 m2"
      "m1 m1 m3 m3"
      "foot foot foot foot";
  }
  
  .grid-sec {
    padding: 10px;
    margin: 5px;
    background-color: var(--secbg);
    border: 1.5px solid var(--accent1);
  }
  
  /* section organization */
  #g1 {
    grid-area: head;
  }
  
  #g2 {
    grid-area: nav;
    text-align: right;
  }
  
  #g3 {
    grid-area: m1;
  }
  
  #g4 {
    grid-area: m2;
  }
  
  #g5 {
    grid-area: m3;
  }
  
  #g6 {
    grid-area: foot;
  }

  
/* specific grid stuff */
#account {
    text-align: right;
  }
  
  button {
    font-family: opensans;
  }