/* color variables */
:root {
  --mainbg: #d8e2d9;
  --secbg: #f0f5ea;
  --heading: #293728;
  --maintxt: #2f2616;
  --altxt1: #766347;
  --altxt2: #9f8c74;
  --accent1: #c4cec1;
  --accent2: #7e9381;
}

/* fonts */

/*header text font*/
@font-face {
  font-family: dmserifdisplay;
  src: url("/static/assets/dmserifdisplay.ttf");
  font-weight: normal;
  font-style: normal;
}

/*body text font*/
@font-face {
  font-family: opensans;
  src: url("/static/assets/opensans.ttf");
  font-weight: normal;
  font-style: normal;
}
/* DESIGN */

/* base */
html {
  background-color: var(--mainbg);
  color: var(--maintxt);
}

body {
  font-family: opensans;
}

/*headings*/
h1,
h2,
h3 {
  font-family: dmserifdisplay;
}

/*links*/
a {
  color: var(--altxt1);
}

a:visited {
  color: var(--accent2);
}

a:hover {
  color: var(--altxt2);
}

/*highlighted text*/
::selection {
  color: var(--maintxt);
  background: var(--altxt2);
}

/*buttons*/
input {
  font-family: opensans;
}

button {
  font-family: opensans;
  padding: 10px;
  border: solid 1px var(--maintxt);
  background-color: var(--altxt);
  color: var(--maintxt);
}

button:hover {
  background-color: var(--accent2);
  color: var(--maintxt);
}
