<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Uploaded Files</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/substyles/contact.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
      <h1>Contact</h1>
      <div class="grid-container">
        <div class="member" id="g1">
          <img src="/static/assets/morton.jpeg" />
          <h3>Zamorah Morton</h3>
          <p><b>Front-End Developer</b></p>
          <p>"#1 sonic fan"</p>
        </div>

        <div class="member" id="g2">
          <img src="/static/assets/mitchell.jpg" />
          <h3>William Mitchell</h3>
          <p><b>Team Manager</b></p>
          <p>"The grandbabies yearn for the yield."</p>
        </div>

        <div class="member" id="g3">
          <img src="/static/assets/norris.jpg" />
          <h3>James Norris</h3>
          <p><b>Full-Stack Developer</b></p>
          <p>"Happy Ramadan."</p>
        </div>

        <div class="member" id="g4">
          <img src="/static/assets/shumer.jpg" />
          <h3>Jacob Schumer</h3>
          <p><b>Full-Stack Developer</b></p>
          <p>"I don't know."</p>
        </div>

        <div class="member" id="g5">
          <img src="/static/assets/park.png" />
          <h3>Eugene Park</h3>
          <p><b>AI Developer</b></p>
          <p>"What doesn't kill your plants, guh."</p>
        </div>

        <div class="member" id="g6">
          <img src="/static/assets/dazzle.jpg" />
          <h3>Dazzle</h3>
          <p><b>Emotional Support</b></p>
          <p>"Meow."</p>
        </div>
      </div>
      <a href="{{ url_for('index') }}"><button>Home</button></a>
    </div>
  </body>
</html>
