<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>plant</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/substyles/diagplant.css" rel="stylesheet" type="text/css" media="all" />
  </head>

  <body>
    <!--grid container-->
    <div class="grid-container">
      <!--title-->
      <div class="grid-sec" id="g1">
        <h1>plant diagnosis</h1>
      </div>
      <!--explanation-->
      <div class="grid-sec" id="g2">
        <p>when you upload a file it tells you something abt it idk man</p>
        <button onclick="location.href='/templates/index.html';">Home</button>
      </div>
      <!--the ai forms thing idk-->
      <div class="grid-sec" id="g3">
        <form action="/" method="post" enctype="multipart/form-data">
          <input type="file" name="file" accept="image/*" />
          <button type="submit">Upload</button>
        </form>
      </div>
    </div>

    <!--
    tf-move
 main

    {% if filename %}
        <img src="{{ url_for('static', filename='uploads/' + filename) }}" width="300">
        <p>{{ label }} ({{ confidence|round(2) }}%)</p>
    {% endif %}-->
  </body>
</html>
