<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BioShield Plant Diagnosis</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/substyles/diagplant.css" rel="stylesheet" type="text/css" media="all" />
  </head>

  <body>
    <!--grid container-->
    <div class="grid-container">
      <!--title-->
      <div class="grid-sec" id="g1">
        <h1>Plant Diagnosis</h1>
        <img src="/static/assets/azurebluet.png" width="200px" id="azureb1">
        <img src="/static/assets/azurebluet.png" width="200px" id="azureb2">
      </div>

      <!--explanation-->
      <div class="grid-sec" id="g2">
        <p>Upload an image file and the AI will tell you.</p>
        <form method="post" enctype="multipart/form-data">
          <input type="file" name="file" accept="image/*" />
          <button type="submit">Upload</button>
        </form>
      </div>

      <!--the ai forms thing idk-->
      <div class="grid-sec" id="g3">
        <!--if the file is uploaded, show the image and the diagnosis-->
        {% if filename %}
        <img src="{{ url_for('static', filename='uploads/' + filename) }}" width="300" />
        <p>{{ label }} ({{ confidence|round(2) }}%)</p>
        {% else %}
        <p>Waiting for a file...</p>
        {% endif %}
        <a href="{{ url_for('index') }}"><button>Home</button></a>

      </div>

    </div>
  </body>
</html>
