<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Uploaded Files</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/substyles/basic.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <!--
       This is mainly to show you how it works. The things in curly braces are variables that are passed through from the code.
       https://www.digitalocean.com/community/tutorials/how-to-use-templates-in-a-flask-application
    -->
    <div class="lcontainer">
        <h1>Uploaded Files</h1>
        <a href="{{ url_for('secure_upload') }}"><button>Back</button></a>
      <div>
        {% for file in files %}
        <div class="entry" id=" {{ file['id'] }} ">
          <a href="download_file/{{ file['id'] }}">
            <p>{{ file['name'] }}</p>
            <p>{{ "something else?" }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
