<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>name of our project</title>
    <link href="/templates/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>

  <body>
    <div class="grid-container">
      <div class="grid-sec" id="g1">column one</div>
      <div class="grid-sec" id="g2">column two</div>
      <div class="grid-sec" id="g3">column three</div>
      <div class="grid-sec" id="g4">column four</div>
      <div class="grid-sec" id="g5">column five</div>
    </div>
  </body>
</html>