<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>name of our project</title>
    <link href="/templates/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>

  <body>
    <div class="grid-container">
        <!-- header -->
      <div class="grid-sec" id="g1">column one</div>
      <!-- navigation bar-->
      <div class="grid-sec" id="g2">column two</div>
      <!--misc area 1 (tall left box)-->
      <div class="grid-sec" id="g3">column three</div>
      <!-- misc area 2 (right top box)-->
      <div class="grid-sec" id="g4">column four</div>
      <!-- misc-->
      <div class="grid-sec" id="g5">column five</div>
    </div>
  </body>
</html>