<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>sec upl</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/substyles/basic.css" rel="stylesheet" type="text/css" media="all" />
  </head>

<body>
    <div class="lcontainer"> 
        <h1>Secure Upload</h1>
        <!-- no fuckin idea what this is but i'll leave it :p -->
        {% include 'includes/_messages.html' %}
        <form method="post" enctype="multipart/form-data">
            <input type="file" id="file" name="file"/>
            <button type="submit">Submit</button>
        </form>
        <br>
        <a href="{{ url_for('index') }}"><button>Home</button></a>

    </div>
    
</body>
</html>
